
<div class="logo">
	<a href="https://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
            <!-- <img src="./assets/img/angular2-logo-white.png"/> -->
            <img src="./assets/img/bg/bg2.jpg" alt="Card image cap" class="card-img-top" style="width: 1.3em;">
        </div>
	</a>

	<a href="https://www.creative-tim.com" class="simple-text logo-normal" style="text-transform: none;">
		Sports Hub League
	</a>
</div>


<div class="sidebar-wrapper">

  <div class="user">
    <div class="photo">
      <img [src]="image" />
    </div>
    <div class="info">
      <a data-toggle="collapse" href="#collapseExample" class="collapsed">
        <span>
          {{name}}
          <b class="caret"></b>
        </span>
      </a>
      <div class="clearfix"></div>
      <div class="collapse" id="collapseExample">
        <ul class="nav">
<!--          <li>-->
<!--            <a href="javascript:void(0)">-->
<!--              <span class="sidebar-mini-icon">CP</span>-->
<!--              <span class="sidebar-normal">Change Password</span>-->
<!--            </a>-->
<!--          </li>-->
          <li>
            <a href="javascript:void(0)" (click)="logout()">
              <span class="sidebar-mini-icon">L</span>
              <span class="sidebar-normal">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
            <!--If is a single link-->
            <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
                <i class="{{ menuitem.icontype }}"></i>
                <p>{{ menuitem.title }}</p>
            </a>
            <!--If it have a submenu-->
            <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'">
                <i class="{{ menuitem.icontype }}"></i>
                <p>{{ menuitem.title }}<b class="caret"></b></p>
            </a>

            <!--Display the submenu items-->
            <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
                        <a [routerLink]="[childitem.path]">
                            <span class="sidebar-mini-icon">{{ childitem.ab }}</span>
                            <span class="sidebar-normal">{{ childitem.title }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>
